html{
    background-color: black;
    font-family: "Work Sans", sans-serif;
    margin: 0%;
    width: 100%;
}

.foto_perfil{
    width: 15em;
    height: 15em;
    background: url("Imagens/eu.JPG") center/cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topico{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: auto;
}

.icones {
    display: flex;
    justify-content: center;
}

.icones > a {
    padding: 0 1em;
}

.icone {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}

.icone:visited{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}

.icone:hover{
    box-shadow: 0 0 2em 0.5em green;
}

.github{
    background: url("Imagens/github.png") center/cover;
}

.instagram{
    background: url("Imagens/instagram.png") center/cover;
}

.linkedin{
    background: url("Imagens/linkedin.png") center/cover;
}

h1{
    font-size: 3em;
    margin-bottom: auto;
    color: white;
}

.chave_topico{
    font-size: 2.5em;
    margin-left: 2.5%;
    color: white;
    color: purple;
}

.texto_1{
    font-size: 2em;
    margin-left: 5%;
    color: white;
}

.texto_2{
    font-size: 2em;
    margin-left: 7.5%;
    color: white;
}
h4{
    font-size: 1m;
    margin-top: auto;
    color: white;
}

